.notfound {
  font-family: Lato, sans-serif;
  widht: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;


  @media screen and (min-width: variables.$bp-medium) {
    height: 60vh;
  }


  &__main {
    flex: 1 1 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media screen and (min-width: variables.$bp-small) {
      gap: 4rem;
    }

    @media screen and (min-width: variables.$bp-large) {
      flex-direction: row;
    }


    &__logo {
      height: 100px;
      width: 100px;

      @media screen and (min-width: variables.$bp-small) {
        height: 130px;
        width: 130px;
      }

      @media screen and (min-width: variables.$bp-medium) {
        height: 160px;
        width: 160px;
      }
    }

    &__message {
      text-align: center;

      &__header {
        @media screen and (min-width: variables.$bp-small) {
          font-size: 2.8rem;
          margin-bottom: 0.6rem;
        }
      }

      &__link {
        text-decoration: none;
        color: var(--green);

        @media screen and (min-width: variables.$bp-small) {
          font-size: 1.2rem;
        }
      }
    }

  }

  &__aside {
    display: none;
    flex: 1 1 50%;

    & > img {
      height: 60vh !important;
      width: 100%;
      object-fit: cover;
    }

    @media screen and (min-width: variables.$bp-big) {
      display: block;
    }

  }
}
