@use "../styles/_reset";

:root {
  --green: #2d827b;
  --green-light: #51b9a3;
  --dark-gray: rgb(3, 3, 3);
  --copy-color: #404040;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

p,
span {
  color: var(--green);
  font-family: Lato, sans-serif;
}

.cols {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @media screen and (min-width: variables.$bp-large) {
    flex-direction: row;
    gap: 2rem;
  }
}
